
.container
   .header 
    .navbar.navbar-default(role='navigation')
      ul.nav.navbar-nav
             
              ul
               img#new(src="https://images-na.ssl-images-amazon.com/images/I/41K39f7BXZL._SY355_.png", alt="")
               input#team_name(type='search' name='fa fa-search' value='Search' placeholder='fa fa-search;search')
               li.active Home      
               li Following
               i.fa.fa-search(aria-hidden='true')
                

      .row  
        .col-lg-3
          .column
            img(src="https://picsum.photos/200/360/?random")
            img(src="https://picsum.photos/201/361/?random")
            img(src="https://picsum.photos/202/362/?random")
            img(src="https://picsum.photos/203/350/?random")


            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzSVQGCUwGgUs7XGRJ9pKAsNdpoo6Ch0kZBifQ6h5mlwxf83Lo0g/?random")  
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSknoo2uiEATdeD-hSVVoyb1UYcNNV8R2lyTowuGWrZoBTBO0sA")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS_pcQxZyFBC3zksq0-sYTJxjI7oDOCOKBUpkPb38mxq8tVN_o26NeG6_H")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOHnzZ5nK5GR6Sg6JJltcUpH_8kx2W2PQb-dkgff0RHAYR7z7mLw")
            .div#pic 
            //- 
            img(src="https://picsum.photos/201/600/?random")
            img(src="https://picsum.photos/204/550/?random")
            img(src="https://picsum.photos/203/500/?random")
            img(src="https://picsum.photos/205/600/?random")

            .div
            img(src="https://picsum.photos/204/601/?random")
            img(src="https://picsum.photos/203/555/?random")
            img(src="https://picsum.photos/201/501/?random")
            img(src="https://picsum.photos/206/602/?random")

            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDf6pkQCZ8CycOZMfROQ1mT_NEyND8cHSStISpmQ4pz8c_qE5i")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9KfZbY-e860F7xfUtYZGNZD9JxOeTvplMLFI_tGIUGqGn5aUI")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH1-au5c-lxeliWWg_yGWUOOcq5iYUVXJg0TxvrAMLncMRwQzySw")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh8mEQN0KWvjl_zHSDDmc8QwAmhwXbqHJt3711BFPlS48VRnHw2Q")
            .div
            img(src="https://picsum.photos/205/605/?random")
            img(src="https://picsum.photos/206/556/?random")
            img(src="https://picsum.photos/204/509/?random")
            img(src="https://picsum.photos/207/700/?random")

            //- img(src="http://nafdress.com/assests/images/black-white-dress-on-pinterest-oscar-de-la-renta-black-white.jpg")
            //- img(src="https://i.pinimg.com/564x/89/af/0e/89af0e6c79542f7a576d967acda45d98.jpg")
            //- img(src="https://picsum.photos/300/400/?random")
            //- //img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWDvlvAuQ7HF_DO9BRBB2jZ6CxcyVqoDuEr3ivU_vmAAGhb4SQaw")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXvF9DUrpJGixE5bCndqrz9_5JL-xPCh4rZD53cIDDag9Uqly4")
            .div
            img(src="https://picsum.photos/201/700/?random")
            img(src="https://picsum.photos/200/530/?random")
            img(src="https://picsum.photos/203/508/?random")
            img(src="https://picsum.photos/206/607/?random")
            .div
            img(src="https://picsum.photos/205/600/?random")
            img(src="https://picsum.photos/204/550/?random")
            img(src="https://picsum.photos/203/580/?random")
            img(src="https://picsum.photos/207/600/?random")
            .div
            img(src="https://picsum.photos/205/300/?random")
            img(src="https://picsum.photos/204/289/?random")
            img(src="https://picsum.photos/203/302/?random")
            img(src="https://picsum.photos/207/301/?random")
            .div
            img(src="https://picsum.photos/206/301/?random")
            img(src="https://picsum.photos/205/290/?random")
            img(src="https://picsum.photos/204/303/?random")
            img(src="https://picsum.photos/203/302/?random")
            .div
            img(src="https://picsum.photos/204/298/?random")
            img(src="https://picsum.photos/203/287/?random")
            img(src="https://picsum.photos/202/300/?random")
            img(src="https://picsum.photos/201/299/?random")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkmeuHTsAsPmF0uWfOLJVwnoJgZxTUc1R5Cl2BIrJSZcYDOTU2")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-aSO8n36L0tBERjzyGzgjXVIAMPUKAvhfNqwHWVZ_cIeecM8G")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR-3BDN-ipwnAdWtbsrUBkL7jD7nc0H2zuFWe1HtzlffUuwIrOwg")
            //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv0YfjUssxmIYCDKw07DdBEHdJPNF0cIUM-MhAIryI1zrxnkzhKw")                                          
            //- img(src="https://picsum.photos/300/200/?random")

            //- img(src="https://picsum.photos/300/200/?random")
            //- img(src="https://picsum.photos/300/200/?random")
            //- //img(src="https://picsum.photos/300/200/?random")


